bind_addr = "0.0.0.0"
data_dir = "/var/lib/nomad/"

advertise {
 http = "${ADVERTISE_IP}"
 rpc  = "${ADVERTISE_IP}"
 serf = "${ADVERTISE_IP}"
}

client {
  enabled = true
  servers = ["${SERVER_IP}"]
  network_interface = "enp0s8"
  node_class = "etcd"

  options = {
    "driver.raw_exec.enable" = "1"
    "driver.whitelist" = "docker,raw_exec,exec,java"
    "user.checked_drivers" = "exec"
  }
}

consul {
  address = "127.0.0.1:8500"
}
