bind_addr = "0.0.0.0"
data_dir = "/var/lib/nomad"

advertise {
 http = "${ADVERTISE_IP}"
 rpc  = "${ADVERTISE_IP}"
 serf = "${ADVERTISE_IP}"
}

server { 
 enabled = true 
 bootstrap_expect = 1 
}

consul {
  address = "127.0.0.1:8500"
}
