[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/consul/consul.env
Restart=on-failure
ExecStart=/usr/bin/consul agent $CONSUL_FLAGS -config-dir=/etc/consul
ExecReload=/bin/kill -HUP $MAINPID
# Type=notify

[Install]
WantedBy=multi-user.target